/*  Hi! your going to write styles here in the next couple activities. */
.header {
    height:250px;
    max-height:500px;
    background-image: url(../images/upsBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#pageTopic {
    text-align: center;
}

.dot{
    display:inline-block;
    margin:15px; 
}

.swatch {
    height:200px;
    width:10px;
    border:1px solid black;
}

.hexCode{
    padding:15px;
    text-align:center;
    border:1px solid black;
    border-top:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.type_container {
    display:inline-block;
    margin:15px;
}

.hexCode{
    padding:15px;
    text-align:center;
    border:1px solid black;
    border-top:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.type_container {
    display: inline-block;
    margin: 20px;
}

.button{
    display: ;
}

.darkBlue{}