body {
    font-family: 'Open Sans', sans-serif;
}

#hero {
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
}


.nav-link{
    color: white !important;
}

.nav-item.active {
    text-decoration: underline;
}

.jumbotron {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    flex-direction: column;
    color: white;

}


.jumbotron span {
    color: white;
    font-weight: 800;
}

.sectionHeading{
    text-align: center;
    margin-bottom: 50px;
}

.sectionHeading span {
    color: #ff8300;
    display: block;
    font-weight: 50px;
    font-size:22px;
}

.adventurecard .card{
    background-image: url("../images/reservation-card.png");
    height: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-primary {
    
}
