/* Navigation styles */

.logo {
    background: white;
    height:230px;
    background-image: url("../images/cheesecake.png");
    background-repeat: no-repeat;
    background-position: center;

}


.nav {
    display: flex;
    background-color: black;
    padding: 20px;
}

.left, .center, .right {

    height:50px;
    display: flex;
    justify-content: 
}

.center a {
    color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
}

.right button {
    background-color: yellow;

}

.left button {
    background-color: skyblue;
    
}


/* Column styles */
.column {
    display:flex;
    height:1200px;
    width:800px;
    flex-direction: column;
    margin: 0 auto;
}

.meal, .meal2, .meal3 {

}

.meal1 {
    background-image: url("../images/steak.png");
}

.meal2 {
    background-image: url("../images/soup.png");
}

.meal2 {
    background-image: url("../images/soup.png");
}
/* Footer Styles */
